.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d50000;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin-left: 10px;
}

.icon {
  width: 40px;
  height: 40px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
